.icon-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.add-bottom-padding {
  padding-bottom: 5px;
}

.error-text {
  color: black;
  background-color: rgb(160, 49, 49);
  text-align: center;
  /* z-index: 1000; */
}

.error-floating-menu {
  /* margin-top: -10px; */
  top: -70px;
  position: relative;
}
